IO_LOC "in_clk" 52;
IO_PORT "in_clk" PULL_MODE=UP;
IO_LOC "led[0]" 10;
IO_LOC "led[1]" 11;
IO_LOC "led[2]" 13;
IO_LOC "led[3]" 14;
IO_LOC "led[4]" 15;
IO_LOC "led[5]" 16;
IO_LOC "outp" 32;
IO_PORT "outp" DRIVE=8;
IO_LOC "hsync" 31;
IO_LOC "vsync" 40;
IO_LOC "red" 69;
IO_PORT "red" DRIVE=8;
